

body{
    background-color: rgb(156, 156, 224);
    max-width: 480px;
    border: solid;
}
h1{
    text-align: center;
    text-decoration: underline;
}

p{
    margin: 2em 2px;
}

li{
    margin: 25px 2px;
}

.botao{
    margin: 0px 12px;
    width: 200px;
    text-align: center;
    height: 50px;
}
.campos{
    width: 130px;
    height: 35px;
    font-size: 25px;
}

